@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 246, 249, 252;
}

body {
  color: black;
  background: rgb(var(--foreground-rgb));
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
