@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 246, 249, 252;
}

body {
  color: black;
  background: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
